  <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Gaia</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="gaia.css">
    </head>
<body>
    <header>
        <h1> BEM VINDO A GAIA </h1>
        <ul>
            <li> <a href="INTERMEDIÁRIO.html"> Dados lidos pela sistema</a></li>
            <li> <a href="curiosidades.html"> Algumas curiosidades sobre o projeto</a></li>
        </ul>
    </header>
    <div class="ab">
        <div class="a">
            <h2> Conheça um pouco nosso projeto:</h2>
            <p>
Esse projeto tem a proposta de fazer um vaso de planta inteligente, ou seja, um vaso de planta que forneça
ao cliente informações como: Temperatura ambiente, claridade, umidade do solo e da água.
            </p>    
        </div>
        <div class="b">
<p>
   <img src="LOGO_GAIA-removebg-preview.png " style="width: 500px; display: block; margin: 0 auto;";>
</p>    

<p style="text-align:center";> Essa é a logo do projeto</p>
        </div>
    </div>
<p>

</p>
<footer>
    <p>copyright© todos direitos reservados por GAIA<sup>tm</sup> </p>
</footer>
</body>
</html>